body{
    background-color: #c2b3e7;
    font-family: "Roboto", sans-serif;
}
.weather-app{
    background: white;
    max-width: 600px;
    margin:30px auto;
    padding: 30px;
    box-shadow: 0 30px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
}